@charset 'utf-8';
@use "../common/css/util/util" as *;

/*------------------------------------------------
.lcl-hero
------------------------------------------------*/
.lcl-hero {
  .lcl-hero-shirokuma {
    position: relative;
    aspect-ratio: 690/860;
    // overflow: hidden;
    .lcl-hero-shirokuma__in {
      position: absolute;
      inset: rem(-20) -100% auto;
      // width: pct(500, 345);
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      margin: auto;
      cursor: pointer;
    }
  }
  .lcl-hero-shirokuma__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center bottom;
  }
  .lcl-hero-shirokuma__leaf {
    position: absolute;
    top: 6%;
    left: 24%;
    width: rem(110);
    transform-origin: center bottom;
    img {
      display: block;
      transform: translate3d(0px, rem(30), 0px) scale(0.2);
      transform-origin: center bottom;
    }
  }
  .lcl-hero-shirokuma__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .lcl-hero-shirokuma__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    &:not(.lcl-hero-shirokuma__img--middle) {
      opacity: 0;
    }
  }
  .lcl-hero-copy {
    &.js-load {
      .lcl-hero-copy__row {
        translate: rem(200);
        transition: translate 2s ease;
      }
    }
    &.js-load--on {
      .lcl-hero-copy__row {
        translate: 0;
      }
      .lcl-hero-copy__item {
        animation-play-state: running;
      }
    }
  }
  .lcl-hero-copy__row {
    &:nth-of-type(2) {
      transition: translate 2s 1s ease !important;
      .lcl-hero-copy__item {
        @for $i from 1 to 16 {
          &:nth-of-type(#{$i}) {
            animation-delay: 0.05 * ($i - 1) + 1 + s !important;
          }
        }
      }
    }
  }
  .lcl-hero-copy__item {
    opacity: 0;
    transform: translate3d(0px, rem(-5), 0px);
    animation: kf-copy 2s 1 forwards ease paused;
    @keyframes kf-copy {
      0% {
        opacity: 0;
        transform: translate3d(0px, rem(-7), 0px);
      }
      30% {
        transform: translate3d(0px, rem(7), 0px);
      }
      60% {
        transform: translate3d(0px, rem(-7), 0px);
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
      }
    }
    @for $i from 1 to 12 {
      &:nth-of-type(#{$i}) {
        animation-delay: 0.05 * ($i - 1) + s !important;
      }
    }
  }
}

/*------------------------------------------------
.lcl-rev
------------------------------------------------*/
.lcl-rev {
  /* .lcl-rev__in ------------*/
  .lcl-rev__in {
    height: 150vh;
  }
  .lcl-rev-copy {
    opacity: 0;
    transform: scale(10);
  }
}

/*------------------------------------------------
.lcl-lead
------------------------------------------------*/
.lcl-lead {
  .lcl-lead__txt01 {
    &.scr-anin {
      .lcl-lead__span {
        @for $i from 1 to 4 {
          &:nth-of-type(#{$i}) {
            transition-delay: 0.08 * ($i - 1) + 0.4 + s;
          }
        }
      }
    }
    &.scr-anin--on {
      .lcl-lead__span {
        &::after {
          opacity: 0;
        }
        &:nth-of-type(1) {
          &::after {
            translate: rem(430);
          }
        }
        &:nth-of-type(2) {
          &::after {
            translate: rem(540);
          }
        }
        &:nth-of-type(3) {
          &::after {
            translate: rem(680);
          }
        }
        span {
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
      }
    }
  }
  .lcl-lead__span {
    position: relative;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: rem(40);
      aspect-ratio: 205/302;
      background: url(../img/shirokuma_01.png) center / cover no-repeat;
      transform: rotate(-2deg);
      transition:
        opacity 0.3s 1.6s ease,
        translate 2.4s ease;
      // transition:
      //   opacity 0.3s 0.9s ease,
      //   translate 1.2s ease;
      animation: kf-shirokuma 0.2s infinite forwards linear;
      @keyframes kf-shirokuma {
        49% {
          transform: rotate(-2deg);
        }
        50% {
          transform: rotate(2deg);
        }
        100% {
          transform: rotate(2deg);
        }
      }
    }
    &:nth-of-type(1) {
      &::after {
        // translate: rem(190);
      }
      span {
        // clip-path: polygon(0% 0%, 55% 0%, 55% 100%, 0% 100%);
      }
    }
    &:nth-of-type(2) {
      &::after {
        // translate: rem(95);
      }
      span {
        padding-right: rem(25);
        // clip-path: polygon(0% 0%, 20% 0%, 20% 100%, 0% 100%);
      }
    }
    &:nth-of-type(3) {
      span {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
      }
    }
    span {
      display: inline-block;
      clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
      transition: clip-path 2s ease;
      // transition: clip-path 1s ease;
    }
  }
  .lcl-lead__txt02 {
    background: linear-gradient(90deg, #000, #000 35%, #fffdf0 65%, #fffdf0 100%);
    background-size: 300% 100%;
    background-position: 100% 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    transition: background-position 2s ease;
    &.scr-anin--on {
      background-position: 0% 0%;
    }
  }
}

/*------------------------------------------------
.lcl-linkarea
------------------------------------------------*/
.lcl-linkarea {
  &.scr-anin {
    .lcl-linkarea__in > *:not(.no-anin) {
      opacity: 0;
      translate: 0 rem(20);
      transition:
        opacity 0.6s ease,
        translate 0.6s ease;
    }
  }
  &.scr-anin--on {
    .lcl-linkarea__in > *:not(.no-anin) {
      opacity: 1;
      translate: 0;
    }
  }
  &.lcl-linkarea--02 {
    .lcl-linkarea__img {
      &.scr-anin {
        rotate: -20deg;
        translate: rem(-180) rem(-40);
        transition:
          rotate 0.4s ease,
          translate 0.4s ease;
      }
      &.scr-anin--on {
        rotate: 0deg;
        translate: 0;
      }
    }
  }
  .lcl-linkarea__txt {
    &.lcl-linkarea__txt--anin {
      position: relative;
      z-index: 1;
      opacity: 0;
      scale: 20;
      pointer-events: none;
    }
  }
}
