@charset 'utf-8';
@use "./util/util" as *;

#main {
  overflow: visible;
}

/*------------------------------------------------
lcl-hero
------------------------------------------------*/
.lcl-hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  /* .lcl-hero-bg ------------*/
  .lcl-hero-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   background-color: $c-black;
    //   opacity: 0.4;
    // }
  }
  .lcl-hero-bg__mv {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    background-color: #666;
    transform: translate(-50%, -50%);
  }
  /* .lcl-hero__in ------------*/
  .lcl-hero__in {
    @include flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-block: rem(100) rem(70);
  }
  .lcl-hero__ttl {
    @include fz(18);
    font-weight: 700;
    line-height: 1.4;
    color: $c-white;
  }
  .lcl-hero__en {
    @include fz(12);
    margin-top: rem(5);
  }
  .lcl-hero__img {
    width: rem(500);
    margin-top: auto;
    margin-bottom: 0;
  }
}

/*------------------------------------------------
lcl-cnt
------------------------------------------------*/
.lcl-cnt {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: rem(80);
  /* .lcl-cnt-side ------------*/
  .lcl-cnt-side {
    width: 50%;
  }
  .lcl-cnt-side__in {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    &::after {
      content: "";
      position: absolute;
      bottom: rem(60);
      right: rem(-35);
      display: block;
      width: rem(102);
      aspect-ratio: 205/302;
      background: url(../img/02/cnt/shirokuma_01.png) center / cover no-repeat;
      transform: rotate(-5deg);
      animation: kf-sideImg 2s infinite forwards linear;
      @keyframes kf-sideImg {
        50% {
          transform: rotate(3deg);
        }
      }
    }
  }
  .lcl-cnt-side__img {
    width: 100%;
    height: 100%;
    &:nth-of-type(2) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    img {
      @include of-cover;
      transform: translate3d(0px, 0px, 0px);
    }
  }
  /* .lcl-cnt__in ------------*/
  .lcl-cnt__in {
    width: 50%;
  }
  /* .lcl-cnt-box ------------*/
  .lcl-cnt-box {
    width: 85%;
    margin: 0 auto;
    border-bottom: rem(1) solid #a9aaad;
    &:first-of-type {
      margin-top: rem(50);
      border-top: rem(1) solid #a9aaad;
    }
  }
  /* .lcl-cnt-box04 ------------*/
  .lcl-cnt-box04 {
    padding-block: rem(40);
  }
  /* .lcl-cnt-box04-sbs ------------*/
  .lcl-cnt-box04-sbs {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
  .lcl-cnt-box04-sbs__item {
    width: 58%;
    padding-block: rem(30);
    text-align: center;
    &:nth-of-type(1) {
      .lcl-cnt-box04-sbs__txt {
        @include fz(17);
      }
    }
    &:nth-of-type(2) {
      width: 42%;
      border-left: rem(1) solid #a9aaad;
    }
  }
  .lcl-cnt-box04-sbs__ttl {
    @include fz(26);
    font-weight: 700;
    line-height: 1.4;
  }
  .lcl-cnt-box04-sbs__txt {
    margin-top: rem(20);
    @include fz(27);
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0em;
  }
  .lcl-cnt-box04-sbs__num {
    margin-right: rem(5);
    translate: 0 rem(3);
    &.scr-anin--on {
      .lcl-cnt-box04__count {
        @for $i from 1 to 11 {
          &.to#{$i} {
            background-position: 0px #{100% - $i * 10%};
          }
        }
      }
    }
  }
  .lcl-cnt-box04__count {
    display: inline-block;
    width: rem(55);
    aspect-ratio: 55/100;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0px 100%;
    background-image: url(../../common/img/02/cnt/num.png);
    translate: 0 rem(10);
    transition: background-position 1s cubic-bezier(0.55, 0.16, 0.19, 0.99);
    &.lcl-cnt-box04__count--small {
      width: rem(40);
      translate: 0 rem(7);
    }
  }
  .lcl-cnt-box04-sbs__dot {
    @include fz(40);
  }
  .lcl-cnt-box04__txt {
    width: 90%;
    margin: rem(20) auto 0;
    @include fz(10);
    line-height: 2.2;
  }
  /* .lcl-cnt-box05 ------------*/
  .lcl-cnt-box05 {
  }
  .lcl-cnt-box05__in {
    translate: 0 rem(-20);
  }
  /* .lcl-cnt-box06 ------------*/
  .lcl-cnt-box06 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: none;
    #lottie-shirokuma-thumbsup {
      position: absolute;
      top: rem(-60);
      right: rem(-20);
      display: block;
      width: rem(100);
    }
  }
  .lcl-cnt-box06__item {
    width: 50%;
    overflow: hidden;
    &.lcl-cnt-box06__item--red {
      .lcl-cnt-box06__txt {
        color: #e7221c;
      }
    }
    &.lcl-cnt-box06__item--blue {
      .lcl-cnt-box06__txt {
        color: #1fb1e2;
      }
    }
  }
  .lcl-cnt-box06__img {
    width: 120%;
    margin-top: rem(-20);
    translate: rem(-15);
  }
  .lcl-cnt-box06__txt {
    @include fz(10);
    line-height: 1.4;
    text-align: center;
  }
}

/*------------------------------------------------
.lcl-mv
------------------------------------------------*/
.lcl-mv {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  margin: rem(150) auto 0;
  overflow: hidden;
  .lcl-mv__in {
    width: 100%;
  }
}

/*------------------------------------------------
.lcl-contact
------------------------------------------------*/
.lcl-contact {
  display: block;
  width: rem(800);
  margin: rem(200) auto;
}
