@charset 'utf-8';
@use "./util/util" as *;

@font-face {
  font-family: "03SmartFontUI";
  src: url("../fonts/03SmartFontUI.otf") format("opentype");
}
@font-face {
  font-family: "851Gkktt_005";
  src: url("../fonts/851Gkktt_005.ttf") format("truetype");
}
@font-face {
  font-family: "ShinGoPro";
  font-weight: 700;
  src: url("../fonts/A-OTF-ShinGoPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "ShinGoPro";
  font-weight: 500;
  src: url("../fonts/A-OTF-ShinGoPro-Medium.otf") format("opentype");
}
@font-face {
  font-family: "ShinGoPro";
  font-weight: 300;
  src: url("../fonts/A-OTF-ShinGoPro-Light.otf") format("opentype");
}

/*------------------------------------------------
variable
------------------------------------------------*/
#__bs_notify__ {
  display: none !important;
}
/* ルートをデザインデータ上の10pxに統一 ------------*/
:root {
  --min-width: 1300;
  --max-width: 1600;
  // --fz: 10px;
  --fz: clamp(10px, calc(100vw / #{var(--min-width)} * 10), calc(#{var(--max-width)} / 1300 * 10px));
  font-size: var(--fz);
  --scrollbar: 0;
  @include ie_only {
    font-size: 10px;
  }
  @include media_narrow {
    --fz: calc(100 / 375 * 10vw);
  } /* SP only ------------ */
}

/*------------------------------------------------
html,body
------------------------------------------------*/
html,
body {
  @include font-family;
  color: $c-black;
  background: #fff none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  @include txt-basic;
}
body {
  *:focus-visible {
    @include media_wide {
      outline: auto;
      // outline-color: tomato;
    } /* PC only ------------ */
    &[tabindex="-1"] {
      outline: 0;
      outline-color: transparent;
    }
  }
}
// * {
//   // 全体のletter-spacingはここで変える
//   // letter-spacing: 0.05em;
// }
// *::selection {
//   background: rgba(0, 0, 0, 0.2);
// }
// *::-moz-selection {
//   background: rgba(0, 0, 0, 0.2);
// }
.is-modal {
  overflow: hidden;
}
.oh-open {
  @include media_narrow {
    overflow: hidden;
    width: 100%;
    position: fixed;
    left: 0;
  }
  .overlay {
    @include media_narrow {
      opacity: 1;
      visibility: visible;
    } /* SP only ------------ */
  }
}
// .ff-mincho {
// 	font-family: 'Noto Serif JP', sans-serif;
// }

a[href*="未設定"],
a[href=""] {
  // @include dummy;
}
.dummy {
  @include dummy;
}

/*------------------------------------------------
general
------------------------------------------------*/
// PC専用(default: 1000px)
.w1000 {
  @include w1000;
}
// SP専用(default: 345px)
.inner {
  @include inner;
}

/*------------------------------------------------
svg
------------------------------------------------*/
.ico_svg {
  width: 100%;
  height: auto;
  .svg-circle {
    transition:
      fill 0.25s ease,
      stroke 0.25s ease;
  }
  .svg-path {
    transition:
      fill 0.25s ease,
      stroke 0.25s ease;
  }
}

/*------------------------------------------------
wrapper
------------------------------------------------*/
#wrapper {
  @include media_wide {
    min-width: 1024px;
  }
  @include media_narrow {
    width: 100%;
  }
}

/*------------------------------------------------
header
------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.25s ease;
  @include media_wide {
    &.header--hidden {
      transform: translateY(rem(-85));
    }
  }
  /* header__in ------------*/
  .header__in {
    position: relative;
    @include flex;
    justify-content: space-between;
    padding: rem(10);
    background: $c-black;
    @include media_wide {
      min-width: 1024px;
      margin-right: auto;
      margin-left: auto;
    }
    @include media_narrow {
      height: rem(50);
      padding: 0 0 0 rem(10);
    }
  }
  /* header-logo ------------*/
  .header-logo {
    @include fz(11);
    color: $c-white;
    @include flex;
  }
  /* nav ------------*/
  .nav {
    @include flex;
    justify-content: flex-end;
    @include fz(13);
    @include media_narrow {
      display: block;
      position: fixed;
      top: rem(50);
      left: 0;
      width: 100%;
      height: calc((var(--vh, 1vh) * 100) - #{rem(50)});
      background: $c-white;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.5s ease,
        visibility 0.5s ease;
      &.nav--active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .nav-list {
    @include flex;
    @include media_narrow {
      display: block;
    }
  }
  .nav-list__item {
    margin: 0 rem(10);
    @include media_narrow {
      width: 100%;
      margin: 0;
      border-bottom: rem(1) solid #ddd;
      color: $c-black;
      background-color: $c-white;
    }
  }
  .nav-list__link {
    display: block;
    width: 100%;
    text-align: center;
    color: $c-white;
    @include media_narrow {
      padding: rem(20);
      color: $c-black;
    }
    &.nav-list__link--current {
      color: tomato;
    }
  }

  /* close ------------*/
  .menu {
    display: none;
    cursor: pointer;
    @include media_narrow {
      overflow: hidden;
      width: rem(50);
      height: rem(50);
      background-color: $c-black;
      @include flex;
    }
  }
  .menu__btn {
    position: relative;
    width: rem(35);
    height: rem(32);
  }
  .menu__line {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    width: rem(25);
    height: rem(2);
    margin: auto;
    opacity: 1;
    background-color: $c-white;
    transition:
      top 0.25s ease,
      opacity 0.25s ease,
      transform 0.25s ease,
      width 0.25s ease,
      left 0.25s ease,
      right 0.25s ease;
    /* option ------------*/
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: rem(7);
    }
    &:nth-of-type(3) {
      top: rem(7);
      opacity: 0;
    }
    &:nth-of-type(4) {
      top: rem(14);
    }
    /* /option -----------*/
  }
  .menu__txt {
    @include fz(10);
    font-weight: bold;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: $c-white;
  }
  /* open ------------*/
  .menu--open {
    .menu__line {
      &:nth-of-type(1) {
        left: -100%;
        opacity: 0;
      }
      &:nth-of-type(2) {
        width: rem(25);
        transform: rotate(137deg);
      }
      &:nth-of-type(3) {
        width: rem(25);
        transform: rotate(-137deg);
        opacity: 1;
      }
      &:nth-of-type(4) {
        right: -100%;
        opacity: 0;
      }
    }
  }
}
/* overlay ------------*/
.overlay {
  @include media_narrow {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    background-color: rgba($c-black, 0.5);
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.5s ease,
      visibility 0.5s ease;
  }
}

/*------------------------------------------------
main
------------------------------------------------*/
#main {
  overflow: hidden;
  @include media_wide {
    display: block; /*IE対策*/
  }
}

// /*------------------------------------------------
// page-top
// ------------------------------------------------*/
// .pagetop__wrp {
//   position: relative;
//   width: 100%;
//   height: 0;
//   margin-right: auto;
//   margin-left: auto;
//   @include media_narrow {
//   }
// }
// .pagetop {
//   position: relative;
//   opacity: 0;
//   visibility: hidden;
//   transition: opacity 0.25s ease, visibility 0s 0.25s ease;
//   &.pagetop--show {
//     opacity: 1;
//     visibility: visible;
//     transition: opacity 0.25s ease, visibility 0s ease;
//   }
//   a {
//     @include fz(12);
//     line-height: 1em;
//     position: fixed;
//     z-index: 100;
//     bottom: 0;
//     right: 0;
//     @include flex;
//     width: rem(50);
//     height: rem(50);
//     letter-spacing: 0.1em;
//     color: $c-white;
//     background-color: #313131;
//     @include media_hover {
//       &:hover {
//         background-color: #6fba2c;
//       }
//     }
//     transition: background 0.25s ease;
//     @include media_narrow {
//       width: rem(50);
//       height: rem(50);
//     }
//   }
// }

/*------------------------------------------------
breadcrumb
------------------------------------------------*/
.breadcrumb {
  @include media_narrow {
  }
  @include media_hover {
    a.breadcrumb__link {
      &:hover {
        color: tomato;
      }
    }
  }
  .breadcrumb__list {
    @include flex;
    justify-content: flex-start;
    width: rem(1000);
    margin: auto;
    padding: rem(10) 0;
    @include media_narrow {
      width: 100%;
      padding: rem(15);
    }
  }
  .breadcrumb__item {
    @include flex;
    &:not(:last-child)::after {
      // content: '/';
      content: "";
      width: rem(10);
      height: rem(10);
      margin: 0 rem(10);
      background: url(../img/svg/ico_right.svg) center / contain no-repeat;
    }
  }
  .breadcrumb__link {
    @include flex;
    font-size: rem(11);
    line-height: 1;
    letter-spacing: 0.05em;
    transition: color 0.25s ease;
  }
}

/*------------------------------------------------
footer
------------------------------------------------*/
#footer {
  @include media_narrow {
  }
  .footer__copy {
    @include fz(11);
    width: 100%;
    padding: rem(5) 0;
    text-align: center;
    background: $c-black;
    color: $c-white;
    @include media_narrow {
      padding: rem(10) 0;
      @include fz(10);
      line-height: 1;
    }
  }
}

// /*------------------------------------------------
// not-found ※wp導入時のみ
// ------------------------------------------------*/
// .not-found {
//   width: rem(1000);
//   margin: rem(100) auto;
//   text-align: center;
//   letter-spacing: 0.05em;
//   @include media_narrow {
//     width: 100%;
//     margin: rem(100) auto rem(140);
//     padding: rem(100) rem(30) 0;
//   }
//   .not-found__ttl {
//     @include fz(50);
//     font-weight: bold;
//     @include media_narrow {
//       @include fz(46);
//     }
//     i {
//       margin-right: rem(5);
//       color: #ffc107;
//       @include media_narrow {
//         margin-right: rem(10);
//       }
//     }
//   }
//   .not-found__ttl-sub {
//     @include fz(20);
//     font-weight: bold;
//     @include media_narrow {
//       @include fz(32);
//     }
//   }
//   .not-found__txt {
//     @include fz(18);
//     margin: rem(30) 0 rem(80);
//     @include media_narrow {
//       @include fz(28);
//       margin: rem(40) 0 rem(60);
//       text-align: left;
//     }
//   }
// }

/*------------------------------------------------
Loading
------------------------------------------------*/
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  transition:
    opacity 0.5s ease,
    visibility 0s 0.5s ease,
    z-index 0s 0.5s ease;
  &.loading--off {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}
.now-loading {
  overflow: hidden;
  width: 100%;
  position: fixed;
  left: 0;
}

/*------------------------------------------------
modal
------------------------------------------------*/
.modal {
  display: block;
  position: fixed;
  inset: 0;
  max-width: 100%;
  max-height: 100%;
  width: rem(1000);
  margin: auto;
  border: 0;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  filter: drop-shadow(0 0 rem(30) rgba($c-black, 0.5));
  transition:
    opacity 0.25s ease,
    visibility 0.25s ease;
  &[open] {
    opacity: 1;
    visibility: visible;
  }

  // モーダルを開いた際フォーカスを当てるが、アウトラインは非表示
  outline: 0 !important;
  outline-color: transparent !important;

  /* スクロールバーの非表示 ------------*/
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
  /*Google Chrome、Safariへの対応*/
  &::-webkit-scrollbar {
    display: none;
  }
  /* オーバーレイ ------------*/
  &::backdrop {
    background-color: rgba($c-black, 0.3);
    transition: all 0.25s ease;
  }

  .modal__inner {
    position: relative;
    padding: rem(25);
  }
  .modal__main {
    position: relative;
    padding: rem(50);
    border-radius: rem(10);
    background-color: $c-white;
  }

  .modal-close {
    position: absolute;
    top: rem(5);
    right: rem(5);
    width: rem(50);
    height: rem(50);
    padding: rem(5);
    border-radius: 50%;
    background-color: $c-black;
    overflow: hidden;
    transition: background-color 0.25s ease;
    @include media_hover {
      &:hover {
        background-color: $c-red;
      }
    } /* media_hover ------------ */
    .ico_svg {
      transform: rotate(45deg);
      .svg-path {
        fill: $c-white;
      }
    }
  }
}
