@charset 'utf-8';
@use "./util/util" as *;

/*------------------------------------------------
.lcl-contact
------------------------------------------------*/
.lcl-contact {
  position: relative;
  display: block;
  width: rem(800);
  margin: rem(400) auto rem(300);
  padding: rem(35) rem(50);
  border-radius: rem(20);
  background-color: #1a3463;
  transition: background-color 0.25s ease;
  /* hover ------------*/
  @include media_hover {
    &:hover {
      background-color: $c-blue;
    }
  }
  .lcl-contact__txt {
    width: 100%;
    @include fz(36);
    line-height: 1.4;
    color: $c-white;
    transition: color 0.25s ease;
  }
  .lcl-contact-shirokuma {
    position: absolute;
    top: rem(-55);
    right: rem(-20);
    width: rem(200);
  }
}

/*------------------------------------------------
details
------------------------------------------------*/
.details {
  .details__summary {
    display: block; /*デフォルトの三角形を削除*/
    cursor: pointer;
    &::-webkit-details-marker {
      /* Safari-デフォルトの三角形を削除*/
      display: none;
    }
    .ico_toggle {
      .svg-path {
        transform-origin: center;
        transition:
          fill 0.25s ease,
          stroke 0.25s ease,
          transform 0.25s ease;
      }
    }
  }
  .details__in {
    overflow: hidden;
    /* padding・marginはここでは設定しない */
  }
}
/*------------------------------------------------
ttl-toggle
------------------------------------------------*/
.ttl-toggle {
  &[open] {
    .ico_toggle {
      .svg-path01 {
        transform: rotate(180deg);
      }
      .svg-path02 {
        transform: rotate(90deg);
      }
    }
  }
  .ttl-toggle__summary {
    position: relative;
    padding: rem(15) rem(60) rem(15) rem(20);
    font-weight: 700;
    font-size: rem(20);
    line-height: 1.4;
    letter-spacing: 0;
    background-color: #eee;
    border-radius: rem(5);
    transition:
      color 0.25s ease,
      background-color 0.25s ease;
    @include media_hover {
      &:hover {
        background-color: salmon;
        color: white;
        .ico_svg .svg-path {
          fill: $c-white;
        }
      }
    } /* media_hover ------------ */
    .ico_svg {
      position: absolute;
      top: 0;
      bottom: 0;
      right: rem(15);
      width: rem(30);
      margin: auto 0;
    }
  }
  .ttl-toggle__main {
    margin-top: rem(15);
  }
}

/*------------------------------------------------
swipe
------------------------------------------------*/
@keyframes swipe-ani {
  0%,
  95%,
  100% {
    transform: translateX(-20%);
    animation-timing-function: ease-in-out;
  }
  45%,
  50% {
    transform: translateX(20%);
    animation-timing-function: ease-in-out;
  }
} /* -- @keyframes -- */
@mixin swipe {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  > * {
    max-width: unset;
    width: max-content;
    //  width: rem(810); // 横幅の固定値などがあれば指定してください
  }
  @include media_narrow {
    // width: rem(360);
    // padding-right: rem(15);
  } /* SP only ------------ */
  &.swipe--swiped {
    &::after {
      opacity: 0;
      visibility: hidden;
    }
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: rem(50);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: rem(85);
    height: rem(85);
    pointer-events: none;
    background: url(../img/svg/ico_scroll.svg) center / contain no-repeat;
    transition:
      opacity 0.25s ease,
      visibility 0.25s ease;
    animation: swipe-ani 3s infinite both;
  } /* after ------------*/
}
.swipe {
  @include swipe;
}
.swipe-w {
  @include media_wide {
    @include swipe;
  } /* PC only ------------ */
}
.swipe-n {
  @include media_narrow {
    @include swipe;
  } /* SP only ------------ */
}
