@charset "utf-8";
@use "./util/util" as *;
@use "./cms/pagination" as *;
@use "./cms/pager" as *;

// ブロックエディタ
// @use "./cms/block/fse-accordion" as *;
@use "./cms/block/fse-blog-card" as *;
@use "./cms/block/fse-button" as *;
@use "./cms/block/fse-button-list" as *;
@use "./cms/block/fse-point" as *;
@use "./cms/block/fse-table-wrap" as *;
@use "./cms/block/fse-talk" as *;
@use "./cms/block/fse-text-image" as *;
@use "./cms/block/colors" as *;

/*------------------------------------------------
post-content
------------------------------------------------*/
.post-content {
  margin-top: rem(40);
  @include media_narrow {
    margin-top: rem(20);
  }
}
.post-content {
  * {
    max-width: 100%;
  }
}
.post-content,
#tinymce,
body.editor-styles-wrapper .block-editor-block-list__layout, // ビジュアルエディタ
body #wpwrap .editor-styles-wrapper .block-editor-block-list__layout // ブロックエディタ
{
  padding: 0;
  @include media_narrow {
  }
  data {
    @include fz(13);
  }
  hr {
    display: block;
    margin-bottom: rem(20);
    @include media_narrow {
      margin-bottom: rem(15);
    }
  }

  /*------------------------------------------------
  見出し系
  ------------------------------------------------*/
  h2 {
    margin-top: rem(30);
    padding-bottom: rem(10);
    @include fz(23);
    font-weight: 700;
    border-bottom: rem(2) solid $c-black;
  }
  h3 {
    margin-top: rem(30);
    padding: rem(5) rem(15);
    @include fz(20);
    font-weight: bold;
    border-left: rem(3) solid $c-black;
  }
  h4 {
    margin-top: rem(30);
    padding-bottom: rem(5);
    @include fz(18);
    font-weight: bold;
    border-bottom: rem(2) solid $c-black;
  }
  h5 {
    margin-top: rem(30);
    @include fz(18);
    font-weight: bold;
  }
  h6 {
    margin-top: rem(30);
    @include fz(16);
    font-weight: bold;
  }

  /*------------------------------------------------
  テキスト系
  ------------------------------------------------*/
  p {
    margin-top: rem(30);
    @include txt-basic;
    word-break: break-all;
  }
  strong {
    font-weight: bold !important;
  }
  em {
    font-style: italic !important;
  }
  /* ブロックエディタ 文字寄せ ------------*/
  .has-text-align-center {
    text-align: center;
  }
  .has-text-align-right {
    text-align: right;
  }

  /*------------------------------------------------
  リスト系
  ------------------------------------------------*/
  ul,
  ol {
    margin-top: rem(30);
    display: block;
    padding: rem(30) rem(30);
    background-color: #f5f5f5;
    ul,
    ol {
      padding: 0;
      margin: rem(10) 0;
    }
    li {
      position: relative;
      &:nth-of-type(n + 2) {
        margin-top: rem(5);
      } /* nth-of-type ------------ */
    }
  }
  /* -------------- 順序なしリスト -------------- */
  ul {
    list-style: none;
    > li {
      list-style: none;
      padding-left: rem(20);
      &::before {
        content: "●";
        position: absolute;
        top: rem(0);
        left: 0;
      }
    }
  }
  /* -------------- 順序リスト -------------- */
  ol {
    // list-style-type: decimal;
    list-style-type: none;
    counter-reset: item;
    > li {
      // list-style-type: decimal;
      padding-left: rem(20);
      &::before {
        content: "";
        counter-increment: item;
        content: counter(item) ".";
        // ゼロ埋め
        // content: counter(item, decimal-leading-zero);
        position: absolute;
        top: rem(0);
        left: 0;
      } /* before ------------*/
    }
  }

  /*------------------------------------------------
  引用
  ------------------------------------------------*/
  blockquote {
    margin-top: rem(30);
    padding: rem(30) rem(30);
    background-color: #f5f5f5;
    p {
      margin: 0;
    }
    cite {
      margin-top: rem(5);
      font-style: italic !important;
      @include txt-basic;
      &::before {
        content: "引用元：";
      } /* before ------------*/
    }
  }

  /*------------------------------------------------
  テキストリンク
  ------------------------------------------------*/
  a:not(.block-style) {
    display: inline-block;
    position: relative;
    text-decoration: underline;
    color: tomato;
    word-break: break-all;
    @include media_wide {
      &:hover {
        text-decoration: none;
      }
    }
  }

  /*------------------------------------------------
  テーブル系
  ------------------------------------------------*/
  table {
    margin-top: rem(30);
    thead {
      th,
      td {
        color: $c-white;
        background-color: tomato;
      }
      + tbody th {
        color: $c-black;
        background-color: #f5f5f5;
      }
    }
    th {
      color: $c-white;
      background-color: tomato;
    }
    th,
    td {
      padding: rem(5) rem(14);
      @include txt-basic;
      border: 1px solid #ddd;
    }
  }

  /*------------------------------------------------
  画像系
  ------------------------------------------------*/
  video {
    margin-top: rem(35);
  }
  figure {
    margin-top: 0;
    margin-bottom: 0;
  }
  img {
    float: none;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: rem(30) 0 0;
  }
  figcaption {
    margin-top: rem(5);
    text-align: center;
  }

  /* ビジュアルエディタ 画像レイアウト ------------*/
  p:has(.aligncenter) {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  p:has(.alignleft) {
    width: fit-content;
    margin-right: auto;
  }
  p:has(.alignright) {
    width: fit-content;
    margin-left: auto;
  }

  /* -------------- ブロックエディタ 画像レイアウト -------------- */
  .wp-block[data-align="center"],
  .wp-block[data-align="left"],
  .wp-block[data-align="right"] {
    height: auto;
    > * {
      float: none !important;
    }
  }
  .wp-block[data-align="center"] figure,
  figure.aligncenter {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .wp-block[data-align="left"] figure,
  figure.alignleft {
    width: fit-content;
    margin-right: auto;
  }
  .wp-block[data-align="right"] figure,
  figure.alignright {
    width: fit-content;
    margin-left: auto;
  }

  /*------------------------------------------------
  gallery(ブロックエディタ用)
  ------------------------------------------------*/
  .wp-block-gallery {
    margin-top: rem(30);
    margin-bottom: 0;
    display: grid;
    gap: rem(15) !important;
    align-items: flex-start;
    &.columns-default {
      grid-template-columns: repeat(2, 1fr);
    }
    @for $i from 1 through 8 {
      &.columns-#{$i} {
        grid-template-columns: repeat($i, 1fr);
        @include media_narrow {
          @if $i > 1 {
            grid-template-columns: repeat(2, 1fr);
          } @else {
            grid-template-columns: repeat(1, 1fr);
          } /* -- @if -- */
        } /* SP only ------------ */
      }
    } /* -- @for -- */
    figure.wp-block-image {
      width: 100% !important;
      figcaption.wp-element-caption {
        position: relative;
        margin-top: rem(6);
        margin-bottom: 0;
        padding: 0;
        text-align: center;
        color: $c-black;
        background: none;
      }
    }
    img {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
    &.is-cropped {
      figure.wp-block-image {
        justify-content: flex-start;
        img {
          flex: none !important;
          height: auto !important;
          margin-top: 0;
          aspect-ratio: 1/0.7; // 案件ごとに適宜変更してください！
          object-fit: cover;
        }
      }
    }
  }

  /*------------------------------------------------
  gallery(ビジュアルエディタ用)
  ------------------------------------------------*/
  .gallery {
    margin-top: rem(30);
    & > br {
      display: none;
    }
    display: grid;
    gap: rem(15);
    @for $i from 1 through 10 {
      &.gallery-columns-#{$i} {
        grid-template-columns: repeat($i, 1fr);
        @include media_narrow {
          @if $i > 1 {
            grid-template-columns: repeat(2, 1fr);
          } @else {
            grid-template-columns: repeat(1, 1fr);
          } /* -- @if -- */
        } /* SP only ------------ */
      }
    } /* -- @for -- */
    @include media_narrow {
      margin-top: rem(20);
    } /* SP only ------------ */
    .gallery-item {
      width: 100%;
    }
    img {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
    .gallery-caption {
      margin: rem(5) 0 0;
      text-align: center;
    }
  }
}
