@charset 'utf-8';
@use '../../common/css/util/util' as *;

/*------------------------------------------------
DEMO
------------------------------------------------*/
/*------------------------------------------------
DEMO
------------------------------------------------*/
/*------------------------------------------------
DEMO
------------------------------------------------*/
/*------------------------------------------------
DEMO
------------------------------------------------*/
/*------------------------------------------------
DEMO
------------------------------------------------*/
/*------------------------------------------------
DEMO
------------------------------------------------*/
/*------------------------------------------------
DEMO
------------------------------------------------*/
/*------------------------------------------------
DEMO
------------------------------------------------*/
/*------------------------------------------------
DEMO
------------------------------------------------*/
/*------------------------------------------------
DEMO
------------------------------------------------*/
/*------------------------------------------------
DEMO
------------------------------------------------*/
.lcl-section {
  margin-bottom: rem(100);
  @include media_narrow {
    margin-bottom: rem(50);
  }
  .lcl-section__cnt {
    width: rem(1000);
    margin: 0 auto;
    @include media_narrow {
      width: 100%;
      padding: 0 rem(15);
    }
  }
}
.lcl-ttl {
  width: rem(1000);
  @include fz(25);
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin: rem(40) auto;
  padding: rem(10) rem(30);
  color: #333;
  background: #edeade;
  border-radius: rem(5);
  @include media_narrow {
    border-radius: 0;
    width: 100%;
    @include fz(18);
    line-height: 1.7;
    letter-spacing: 0.1em;
    margin: rem(15) auto;
    padding: rem(5) rem(15);
  }
}
.lcl-txt {
  width: rem(1000);
  margin: rem(30) auto rem(50);
  padding: rem(15) rem(20) rem(10);
  border: rem(1) solid #999;
  background: #fff;
  border-radius: rem(5);
  position: relative;
  @include media_narrow {
    width: auto;
    padding: rem(15);
    margin: rem(30) rem(15) rem(40);
    border-radius: rem(5);
  }
  &::before {
    content: '\88DC\8DB3\8AAC\660E';
    @include fz(12);
    line-height: 1;
    border: rem(1) solid #999;
    height: rem(20);
    width: rem(80);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: #fff;
    position: absolute;
    left: rem(15);
    top: rem(-10);
    @include media_narrow {
      height: rem(20);
      width: rem(80);
      left: rem(15);
      top: rem(-10);
    }
  }
}
.lcl-line {
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(
    to bottom,
    rgba(254, 182, 69, 0) 60%,
    rgba(241, 231, 103, 1) 60%,
    rgba(241, 231, 103, 1) 100%
  );
}

.lcl-btn01 {
  width: rem(300);
  @include media_narrow {
    width: rem(240);
  }
}

/* code ------------*/
.lcl-code {
  padding: rem(20) rem(30);
  display: block;
  background: #333;
  color: #fff;
  @include media_narrow {
    padding: rem(10) rem(15);
  }
}

/* Hover ------------*/
.lcl-hover {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: rem(400);
  height: rem(50);
  border: rem(1) solid #000;
  transition: all 0.25s ease;
  cursor: help;
  @include media_narrow {
    width: 100%;
    height: rem(50);
  }
  @include media_hover {
    &:hover {
      background: #000;
      color: #fff;
    }
  }
}
/* Fade ------------*/
.lcl-fadearea {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.lcl-fade {
  width: calc((100% - rem(50)) / 5);
  height: rem(200);
  @include fz(20);
  line-height: 1.6;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 rem(10) rem(10) 0;
  text-align: center;
  padding: rem(10);
  &:nth-child(5n) {
    margin-right: 0;
  }
  @include media_narrow {
    width: 100%;
    height: rem(150);
    margin-right: 0;
    margin-bottom: rem(15);
  }
}

/*------------------------------------------------
.icons
------------------------------------------------*/
.icons {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2.5%;
  width: 100%;
  .icons__item {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    width: 18%;
    border: rem(1) solid #999;
    cursor: pointer;
    &:nth-of-type(n + 6) {
      margin-top: 2%;
    }
  }
  .icons__box {
    @include flex;
    height: 100%;
    padding: rem(40) 10%;
    background-color: rgba(#eee, 0.4);
    .ico_svg {
      margin: 0 auto;
    }
    img {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
    .icons__box {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }
  .icons__txt {
    padding: rem(5) 0;
    border-top: rem(1) solid #ccc;
    text-align: center;
  }
  .icons__toast {
    @include flex;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 50%;
    height: rem(40);
    @include fz(16);
    font-weight: 700;
    color: $c-white;
    border-radius: 100vw;
    background-color: rgba($c-black, 0.7);
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
    &.icons__toast--done {
      opacity: 1;
    }
  }
}

/*------------------------------------------------
clipboard
------------------------------------------------*/
.clipboard {
  position: relative;
  cursor: copy;
  @include media_hover {
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  } /* media_hover ------------ */
  &.clipboard--copied {
    &::after {
      opacity: 1;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: rem(-24);
    right: rem(50);
    width: rem(24);
    height: rem(24);
    background:url('data:image/svg+xml;charset=UTF-8,<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="svg-path svg-path01" d="M43.75 37.5H25C21.5527 37.5 18.75 34.6973 18.75 31.25V6.25C18.75 2.80273 21.5527 0 25 0H38.6816C39.9219 0 41.1133 0.498047 41.9922 1.37695L48.623 8.00781C49.502 8.88672 50 10.0781 50 11.3184V31.25C50 34.6973 47.1973 37.5 43.75 37.5ZM6.25 12.5H15.625V17.1875H6.25C5.39062 17.1875 4.6875 17.8906 4.6875 18.75V43.75C4.6875 44.6094 5.39062 45.3125 6.25 45.3125H25C25.8594 45.3125 26.5625 44.6094 26.5625 43.75V40.625H31.25V43.75C31.25 47.1973 28.4473 50 25 50H6.25C2.80273 50 0 47.1973 0 43.75V18.75C0 15.3027 2.80273 12.5 6.25 12.5Z" fill="black" /></svg>') center / contain no-repeat;
    opacity: 0.3;
    transition: opacity 0.25s ease;
  } /* before ------------*/
  &::after {
    content: 'コピー！';
    position: absolute;
    top: 0;
    right: 0;
    @include fz(10);
    line-height: 1.8;
    text-align: center;
    opacity: 0;
    transition: opacity 0.25s ease;
  } /* after ------------*/
}
