@charset 'utf-8';
@use './util/util' as *;

/*------------------------------------------------
form-top
------------------------------------------------*/
.form-top {
  @include flex;
  width: 100%;
  height: rem(120);
  background-color: tomato;
  color: #fff;
  @include media_narrow {
    height: rem(120);
  }
  .form-top__ttl {
    @include fz(22);
    font-weight: 700;
    @include media_narrow {
      @include fz(20);
    }
  }
}

/*------------------------------------------------
form-contact
------------------------------------------------*/
.form-contact {
  padding: rem(70) 0 rem(100);
  @include media_narrow {
    padding: rem(20) 0 rem(60);
  }
  .form-contact__in {
    width: rem(1000);
    margin-right: auto;
    margin-left: auto;
    @include media_narrow {
      width: 100%;
    }
  }
}

/*------------------------------------------------
form-lead
------------------------------------------------*/
.form-lead {
  margin-bottom: rem(30);
  text-align: center;
  @include media_narrow {
    margin-bottom: rem(20);
    padding: 0 rem(15);
    text-align: left;
  }
}

/*------------------------------------------------
form-stepbar
------------------------------------------------*/
.form-stepbar {
  @include flex;
  overflow: hidden;
  width: rem(600);
  height: rem(40);
  margin: 0 auto;
  @include media_narrow {
    width: calc(100% - #{rem(15)});
    height: rem(40);
    margin-bottom: rem(25);
  }
  .form-stepbar__item {
    @include flex;
    font-weight: bold;
    line-height: 1;
    position: relative;
    width: calc(100% / 3);
    height: 100%;
    background-color: #f5f3ea;
    @include media_narrow {
      @include fz(14);
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: rem(-10);
      right: 0;
      display: block;
      border-top: transparent solid rem(30);
      border-bottom: transparent solid rem(30);
      @include media_narrow {
        top: rem(-7);
        border-top: transparent solid rem(27);
        border-bottom: transparent solid rem(27);
      }
    }
    &::before {
      right: rem(-29);
      border-left: rem(29) solid #fff;
      @include media_narrow {
        right: rem(-14);
        border-left: rem(14) solid #fff;
      }
    }
    &::after {
      right: rem(-20);
      border-left: rem(29) solid #f5f3ea;
      @include media_narrow {
        right: rem(-10);
        border-left: rem(14) solid #f5f3ea;
      }
    }
  }
  .form-stepbar__item--current {
    color: #fff;
    background-color: #2394ef;
    &::after {
      border-left: rem(29) solid #2394ef;
      @include media_narrow {
        border-left: rem(14) solid #2394ef;
      }
    }
  }
  &:last-child::after {
    content: none;
  }
  &:nth-of-type(2) {
    padding-left: rem(30);
    @include media_narrow {
      padding-left: rem(15);
    }
  }
}

/*------------------------------------------------
form
------------------------------------------------*/
.form {
  width: 100%;
  margin: rem(60) auto 0;
  @include media_narrow {
    margin: rem(25) auto 0;
  }
}
.form-top-error {
  @include fz(17);
  font-weight: bold;
  margin: 0 0 rem(30);
  text-align: center;
  color: #ff3035;
  line-height: 1.5;
  @include media_narrow {
    @include fz(18);
    margin: 0 0 rem(15);
  }
}

/*------------ form__block ------------*/
.form__block {
  @include flex;
  align-items: stretch;
  border-top: rem(1) solid #ddd;
  @include media_narrow {
    .form__block {
      width: 100%;
    }
  }
  &:last-child {
    border-bottom: rem(1) solid #ddd;
  }
}

/*------------ form__ttl ------------*/
.form__ttl {
  @include fz(14);
  position: relative;
  @include flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: rem(300);
  padding: rem(15) rem(20);
  background-color: #f5f5f5;
  @include media_narrow {
    @include fz(13);
    display: block;
    width: 100%;
    padding: rem(7) rem(70) rem(15) rem(15);
  }
  .form__ttl-comment {
    @include fz(11);
    line-height: 1.2;
    color: #ff3035;
    display: block;
    @include media_narrow {
      @include fz(12);
    }
  }
  em {
    font-weight: 700;
    position: relative;
    display: block;
    width: 100%;
    @include media_narrow {
      position: initial;
    }
  }
}

/* 必須 form__ttl--require ------------*/
.form__ttl--require em::after {
  content: '\5FC5\9808';
  @include fz(12);
  line-height: 1;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  @include flex;
  width: rem(40);
  height: rem(20);
  background-color: #ff3035;
  @include media_narrow {
    width: rem(40);
    height: rem(20);
    right: rem(15);
  }
}

/*------------ form__item ------------*/
.form__item {
  @include flex;
  justify-content: flex-start;
  width: rem(700);
  padding: rem(15) rem(20);
  @include media_narrow {
    display: block;
    width: 100%;
    padding: rem(15) rem(15) rem(20);
  }
}

/* input ------------*/
.form__input {
  width: 70%;
  padding: rem(10) rem(15);
  background-color: #f5f5f3 !important;
  @include media_narrow {
    @include fz(16);
    width: 100%;
    padding: rem(10);
  }
  &.form__input--min {
    width: 50%;
    @include media_narrow {
      width: 70%;
    }
  }
  &.form__input--long {
    width: 100%;
    @include media_narrow {
      width: 100%;
    }
  }
}

.form__error {
  border: rem(1) solid tomato !important;
}
.form__select {
  &.form__select--error {
    select {
      @extend .form__error;
    }
  }
  select {
    padding: 0 rem(20);
    min-height: rem(45);
    border: 0;
    border-radius: 0;
    background-color: #f5f5f3 !important;
  }
}

/* textarea ------------*/
.form__textarea {
  width: 100%;
  height: rem(250);
  padding: rem(10) rem(15);
  background-color: #f5f5f3 !important;
  @include media_narrow {
    @include fz(16);
    width: 100%;
    height: rem(150);
    padding: rem(10);
  }
}

/* checkbox / radio ------------*/
.form__item--checks {
  @include media_narrow {
    @include flex;
    justify-content: space-between;
    align-items: stretch;
  }
  .form__check {
    margin-right: rem(15);
    margin-bottom: rem(5);
    @include media_narrow {
      @include flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 49%;
      margin-right: 0;
      margin-bottom: 2%;
      @include flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      background-color: #f5f5f3;
      padding: rem(13);
      border-radius: rem(5);
      line-height: 1.5;
      input {
        margin-right: rem(10);
        flex-shrink: 1;
      }
    }
  }
  .form__input--other {
    width: rem(200);
    padding: rem(10) rem(15);
    @include media_narrow {
      width: 100%;
      padding: rem(10);
      margin-top: rem(5);
    }
  }
}

/* コメント form__item-comment ------------*/
.form__item-comment {
  @include fz(12);
  display: block;
  width: 100%;
}

/* 住所 form__address ------------*/
.form__address {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: rem(10);
    @include media_narrow {
      margin-bottom: rem(10);
    }
  }
}
.form__address--sbs {
  @include flex;
  justify-content: flex-start;
  @include media_narrow {
    display: block;
  }
}
.form__input-postal-txt {
  @include fz(12);
  margin-left: rem(10);
  @include media_narrow {
    width: 100%;
    margin-bottom: rem(10);
    margin-left: 0;
  }
}
.form__input-postal {
  width: rem(180);
  @include media_narrow {
    width: rem(200);
  }
}

/* error ------------*/

.form-error-comment {
  @include fz(14);
  width: 100%;
  margin-top: rem(5);
  color: #ff3035;
  font-weight: bold;
  line-height: 1;
  @include media_narrow {
    @include fz(12);
    margin-top: rem(5);
    line-height: 1.5;
  }
}

/*------------ form-policy ------------*/
.form-policy {
  margin-top: rem(40);
  text-align: center;
  @include media_narrow {
    margin-top: 0;
    padding: 0 rem(15);
    text-align: left;
  }
  .form-policy__check {
    @include flex;
    justify-content: center;
    flex-wrap: nowrap;
    @include media_narrow {
      justify-content: flex-start;
    } /* SP only ------------ */
    input {
      width: rem(15);
      height: rem(15);
      margin-right: rem(5);
      cursor: pointer;
    }
  }
  .form-policy__link {
    text-decoration: underline;
    color: #2394ef;
  }
}

/*------------ form-button-area ------------*/
.form-button-area {
  margin: rem(35) auto 0;
  @include media_narrow {
    margin: rem(50) auto 0;
  }
  .form__btn {
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
  }
  .form__btn--edit {
    width: rem(180);
    height: rem(45);
    margin-right: rem(20);
    @include media_narrow {
      width: rem(200);
      height: rem(40);
      margin-right: auto;
      margin-top: rem(12);
    }
  }
}

/*------------------------------------------------
確認ページ
------------------------------------------------*/

.form-lead--edit {
  margin: rem(35) 0 0;
  @include media_narrow {
    margin-top: rem(20);
  }
}
.form--edit {
  margin: rem(35) auto 0;
  @include media_narrow {
    margin-top: rem(25);
  }
  .form-button-area {
    @include flex;
    flex-direction: column;
    gap: rem(15) 0;
    margin-top: rem(45);
    @include media_narrow {
      margin-top: rem(35);
    }
    .form__btn {
      margin: 0;
      @include media_narrow {
        margin: 0 auto;
      }
    }
  }
}

/*------------------------------------------------
サンクスページ
------------------------------------------------*/
.form-thanks {
  margin: rem(40) 0;
  @include media_narrow {
    margin: rem(25) 0 0;
    padding: 0 rem(15);
  }
  .form-thanks__ttl {
    @include fz(24);
    font-weight: bold;
    text-align: center;
    @include media_narrow {
      @include fz(11);
    }
  }
  .form-thanks__txt {
    margin-top: rem(20);
    text-align: center;
    @include media_narrow {
      margin-top: rem(10);
      text-align: left;
    }
  }
  .form__button-area--thanks {
    margin-top: rem(40);
    @include media_narrow {
      margin-top: rem(25);
    }
  }
}
