@charset 'utf-8';
@use "./util/util" as *;

html,
body {
  background: #fffdf0 none;
}

.loading {
  background-color: #fffdf0;
}

/*------------------------------------------------
lcl-hero
------------------------------------------------*/
.lcl-hero {
  @include flex;
  flex-direction: column;
  height: 100vh;
  /* SP ------------ */
  @include media_narrow {
  }
  .lcl-hero-shirokuma {
    width: rem(345);
  }
  .lcl-hero-copy {
  }
  .lcl-hero-copy__row {
    @include flex;
    align-items: flex-end;
    gap: 0 rem(7);
    &:nth-of-type(1) {
      gap: 0 rem(5);
    }
    &:nth-of-type(2) {
      margin-top: rem(15);
    }
  }
  .lcl-hero-copy__item {
    @include flex;
    &.lcl-hero-copy__item--01 {
      width: rem(30);
    }
    &.lcl-hero-copy__item--02 {
      width: rem(39);
    }
    &.lcl-hero-copy__item--03 {
      width: rem(37);
    }
    &.lcl-hero-copy__item--04 {
      width: rem(38.5);
    }
    &.lcl-hero-copy__item--05 {
      width: rem(36);
    }
    &.lcl-hero-copy__item--06 {
      width: rem(37.5);
    }
    &.lcl-hero-copy__item--07 {
      width: rem(34);
    }
    &.lcl-hero-copy__item--08 {
      width: rem(38);
    }
    &.lcl-hero-copy__item--09 {
      width: rem(39.5);
    }
    &.lcl-hero-copy__item--10 {
      width: rem(39.5);
    }
    &.lcl-hero-copy__item--11 {
      width: rem(11);
    }

    &.lcl-hero-copy__item--12 {
      width: rem(34);
    }
    &.lcl-hero-copy__item--13 {
      width: rem(29);
    }
    &.lcl-hero-copy__item--14 {
      width: rem(36.5);
    }
    &.lcl-hero-copy__item--15 {
      width: rem(29);
    }
    &.lcl-hero-copy__item--16 {
      width: rem(36);
    }
    &.lcl-hero-copy__item--17 {
      width: rem(30);
    }
    &.lcl-hero-copy__item--18 {
      width: rem(38.5);
    }
    &.lcl-hero-copy__item--19 {
      width: rem(35.5);
    }
    &.lcl-hero-copy__item--20 {
      width: rem(30.5);
    }
    &.lcl-hero-copy__item--21 {
      width: rem(38);
    }
    &.lcl-hero-copy__item--22 {
      width: rem(34);
    }
    &.lcl-hero-copy__item--23 {
      width: rem(37);
    }
    &.lcl-hero-copy__item--24 {
      width: rem(34);
    }
    &.lcl-hero-copy__item--25 {
      width: rem(29);
    }
    &.lcl-hero-copy__item--26 {
      width: rem(22);
    }
  }
}

/*------------------------------------------------
lcl-rev
------------------------------------------------*/
.lcl-rev {
  /* SP ------------ */
  @include media_narrow {
  }
  .lcl-rev-copy {
    pointer-events: none;
  }
  .lcl-rev-copy__row {
    @include flex;
    align-items: flex-end;
    gap: 0 rem(40);
    &:nth-of-type(1) {
      // gap: 0 rem(5);
    }
    &:nth-of-type(2) {
      margin-top: rem(25);
    }
  }
  .lcl-rev-copy__item {
    &.lcl-rev-copy__item--01 {
      width: rem(123);
    }
    &.lcl-rev-copy__item--02 {
      width: rem(124.5);
    }
    &.lcl-rev-copy__item--03 {
      width: rem(113.5);
    }
    &.lcl-rev-copy__item--04 {
      width: rem(114.5);
    }
    &.lcl-rev-copy__item--05 {
      width: rem(118.5);
    }
    &.lcl-rev-copy__item--06 {
      width: rem(49.5);
    }
    &.lcl-rev-copy__item--07 {
      width: rem(122);
    }
    &.lcl-rev-copy__item--08 {
      width: rem(120.5);
    }
    &.lcl-rev-copy__item--09 {
      width: rem(121);
    }
    &.lcl-rev-copy__item--10 {
      width: rem(127);
    }
    &.lcl-rev-copy__item--11 {
      width: rem(45);
    }
  }
  .lcl-rev__logo {
    width: rem(550);
    margin: rem(120) auto 0;
    .st1,
    .st3 {
      fill: #285795;
    }
  }
}

/*------------------------------------------------
lcl-lead
------------------------------------------------*/
.lcl-lead {
  width: rem(680);
  margin: rem(200) auto 0;
  .lcl-lead-light {
    position: relative;
    width: rem(145);
    aspect-ratio: 292/322;
    margin: 0 auto;
  }
  .lcl-lead-light__item {
    position: absolute;
    inset: -100%;
    width: 200%;
    aspect-ratio: 1;
    margin: auto;
  }
  .lcl-lead__txt01 {
    margin-top: rem(50);
    @include fz(45);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.08em;
  }
  .lcl-lead__txt02 {
    @include fz(27);
    line-height: 1.6;
    &:not(:first-of-type) {
      margin-top: rem(30);
    }
  }
}

/*------------------------------------------------
lcl-linkarea
------------------------------------------------*/
.lcl-linkarea {
  position: relative;
  z-index: 1;
  width: rem(850);
  margin-top: rem(300);
  &.lcl-linkarea--01 {
    margin-left: auto;
    margin-right: 0;
    /* PC ------------*/
    @include media_wide {
      @media screen and (min-width: 1600px) {
        margin-right: calc((100% - #{rem(1300)}) / 2);
      }
    }
    .lcl-linkarea__in {
      background-color: $c-pink;
    }
    .lcl-linkarea__img {
      top: rem(-170);
      right: 5%;
      width: rem(400);
    }
  }
  &.lcl-linkarea--02 {
    margin-top: rem(500);
    /* PC ------------*/
    @include media_wide {
      @media screen and (min-width: 1600px) {
        margin-left: calc((100% - #{rem(1300)}) / 2);
      }
    }
    .lcl-linkarea__in {
      background-color: $c-blue;
    }
    .lcl-linkarea__img {
      z-index: -1;
      top: rem(380);
      right: rem(-195);
      width: rem(400);
      &.scr-anin {
        rotate: -20deg;
        translate: rem(-180) rem(-40);
        transition:
          rotate 0.4s ease,
          translate 0.4s ease;
      }
      &.scr-anin--on {
        rotate: 0deg;
        translate: 0;
      }
    }
    .lcl-linkarea__btn {
      margin-left: auto;
      margin-right: 8%;
    }
  }
  // &.scr-anin {
  //   .lcl-linkarea__in > *:not(.lcl-linkarea__img) {
  //     opacity: 0;
  //     translate: 0 rem(20);
  //     transition:
  //       opacity 0.6s ease,
  //       translate 0.6s ease;
  //   }
  // }
  // &.scr-anin--on {
  //   .lcl-linkarea__in > *:not(.lcl-linkarea__img) {
  //     opacity: 1;
  //     translate: 0;
  //   }
  // }
  .lcl-linkarea__in {
    padding-bottom: rem(40);
  }
  .lcl-linkarea__img {
    position: absolute;
  }
  .lcl-linkarea__txt {
    width: 95%;
  }
  .lcl-linkarea__btn {
    display: block;
    width: rem(270);
    margin-top: rem(50);
    margin-left: 4%;
    /* hover ------------ */
    @include media_hover {
      &:hover {
      }
    }
  }
  .lcl-linkarea__map {
    position: absolute;
    bottom: rem(-320);
    right: 10%;
    width: rem(300);
  }
}
