@charset 'utf-8';
@use "../../util/util" as *;
/*------------------------------------------------
ボタンリストブロック
------------------------------------------------*/
.post-content,
body #wpwrap .editor-styles-wrapper .block-editor-block-list__layout // ブロックエディタ
{
  .fse-button-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: rem(30);
    gap: rem(20);
    @include media_wide {
      &.fse-button-list--2col {
        grid-template-columns: repeat(2, 1fr);
      }
      .block-editor-block-list__layout {
        display: grid;
        gap: rem(20);
        .wp-block-fse-fse-button {
          width: 100%;
          margin: 0;
        }
      }
      &[data-columns="2col"] {
        .block-editor-block-list__layout {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    } /* PC only ------------ */
    .btn01 {
      width: 100%;
      margin-top: 0;
    }
  }
}