@charset 'utf-8';
@use "../../util/util" as *;
/*------------------------------------------------
会話形式ブロック
------------------------------------------------*/
.post-content,
body #wpwrap .editor-styles-wrapper .block-editor-block-list__layout // ブロックエディタ
{
  .fse-talk {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 rem(30);
    margin-top: rem(30);
    @include media_narrow {
      gap: 0 rem(14);
    } /* SP only ------------ */
    &.fse-talk--reverse {
      flex-direction: row-reverse;
      .fse-talk__main {
        &::before {
          left: auto;
          right: rem(-10);
          border-width: rem(8) 0 rem(8) rem(10);
          @include media_narrow {
            right: rem(-6);
            border-width: rem(5) 0 rem(5) rem(6);
          } /* SP only ------------ */
        }
      }
    }
    .fse-talk__head {
      width: rem(60);
      margin: 0;
      @include media_narrow {
        width: rem(50);
      } /* SP only ------------ */
    }
    .fse-talk__choose,
    .fse-talk__change,
    .fse-talk__delete {
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      text-align: center;
      @include fz(10);
      letter-spacing: 0;
    }
    .fse-talk__image {
      margin: 0;
      width: 100%;
      img {
        margin: 0;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        background-color: $c-white;
      }
    }
    .fse-talk__name {
      margin-top: rem(5);
      text-align: center;
    }
    .fse-talk__main {
      flex: 1;
      position: relative;
      z-index: 1;
      padding: rem(29) rem(39);
      border-radius: rem(10);
      background-color: $c-white;
      border: 1px solid $c-black;
      @include media_narrow {
        padding: rem(14) rem(19);
      } /* SP only ------------ */
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: rem(20);
        left: rem(-10);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: rem(8) rem(10) rem(8) 0;
        border-color: transparent $c-black;
        @include media_narrow {
          top: rem(24);
          left: rem(-6);
          border-width: rem(5) rem(6) rem(5) 0;
        } /* SP only ------------ */
      } /* before ------------*/
    }
    .fse-talk__txt {
      margin-top: 0;
      @include txt-basic;
    }
  }
}