.mouse-scroll {
  opacity: 1;
  /* position: absolute; */
  z-index: 10;
  /* bottom: 0.75rem;
  right: 0.8rem; */
  display: flex;
  flex-flow: column;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.2s;
}

.scrolled {
  opacity: 0;
}

.mouse-scroll-line {
  overflow: hidden;
  margin-top: 4px;
  /* width: 0.05rem;
  height: 3.75rem; */
}

.mouse-scroll-line::after {
  content: "";
  display: block;
  /* background: #fff; */
  animation: line-move 2s 0s infinite;
  width: 100%;
  height: 100%;
}

@keyframes line-move {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
