@charset 'utf-8';
@use "../../common/css/util/util" as *;

/*------------------------------------------------
.lcl-hero
------------------------------------------------*/
.lcl-hero {
  padding-top: rem(20);
}

/*------------------------------------------------
.lcl-lead
------------------------------------------------*/
.lcl-lead {
  /* .lcl-lead-plan ------------*/
  .lcl-lead-plan {
    &.scr-anin {
      .lcl-lead-plan__txt {
        opacity: 0;
        transform-origin: center bottom;
        scale: 0.7;
        transition:
          opacity 0.3s ease,
          scale 0.3s cubic-bezier(0.72, 2.15, 0.57, 0.89);
        &::before {
          transform-origin: center;
          scale: 0;
          transition: scale 0.4s 0.3s cubic-bezier(0.67, 0.28, 0.29, 0.99);
        }
      }
      .lcl-lead-plan__fukidashi {
        opacity: 0;
        transform-origin: left bottom;
        scale: 0.7;
        transition:
          opacity 0.3s 0.5s ease,
          scale 0.3s 0.5s cubic-bezier(0.72, 2.15, 0.57, 0.89);
      }
    }
    &.scr-anin--on {
      .lcl-lead-plan__txt {
        opacity: 1;
        scale: 1;
        &::before {
          scale: 1;
        }
        img {
          display: block;
          animation-play-state: running;
          animation-delay: 2s;
        }
      }
      .lcl-lead-plan__fukidashi {
        opacity: 1;
        scale: 1;
      }
    }
  }
  .lcl-lead-plan__txt img {
    animation: kf-fukidashi 3s infinite forwards ease paused;
    @keyframes kf-fukidashi {
      8% {
        transform: scale(0.9);
      }
      16% {
        transform: scale(1);
      }
      24% {
        transform: scale(0.9);
      }
      32% {
        transform: scale(1);
      }
    }
  }
  .lcl-lead-plan__fukidashi {
  }
  /* .lcl-lead-price ------------*/
  .lcl-lead-price {
    &.scr-anin {
      .lcl-lead-price__txt {
        display: block;
        opacity: 0;
        translate: 0 rem(20);
        transition:
          opacity 0.3s ease,
          translate 0.3s ease;
      }
      ._lcl-lead-price_zero {
        opacity: 0;
        scale: 1.2;
        transition:
          opacity 0.3s 0.5s ease,
          scale 0.3s 0.5s cubic-bezier(0.72, 2.15, 0.57, 0.89);
      }
    }
    &.scr-anin--on {
      .lcl-lead-price__txt {
        opacity: 1;
        translate: 0;
      }
      ._lcl-lead-price_zero {
        opacity: 1;
        scale: 1;
      }
    }
  }
}
